@charset "CP850";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,700);
/* RESET */
/* line 15, ../scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../scss/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/style.scss */
body {
  line-height: 1;
}

/* line 31, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************/
/* Général  */
/***********/
/* 20/600 */
/* Typo */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 71, ../scss/style.scss */
html {
  font-size: 62.5%;
}

/* line 75, ../scss/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

/* line 81, ../scss/style.scss */
h1 {
  font-size: 1.25em;
}

/* line 85, ../scss/style.scss */
p {
  line-height: 1.5em;
}

/* line 89, ../scss/style.scss */
.icon-trophy, .icon-menu, .icon-loop-alt2 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 99, ../scss/style.scss */
.icon-trophy:before {
  content: "\e001";
}

/* line 102, ../scss/style.scss */
.icon-menu:before {
  content: "\e002";
}

/* line 105, ../scss/style.scss */
.icon-loop-alt2:before {
  content: "\e000";
}

/***************************/
/* Mise en page générale  */
/**************************/
/* line 113, ../scss/style.scss */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* header */
/* line 120, ../scss/style.scss */
header {
  background-color: #242529;
  padding: 10px 3.3333%;
}

/* line 125, ../scss/style.scss */
header .wrapper > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 130, ../scss/style.scss */
label[for="refresh"] {
  display: none;
}

/* nav */
/* line 136, ../scss/style.scss */
nav {
  background-color: #8dc72d;
}

/* line 140, ../scss/style.scss */
nav ul {
  text-align: center;
}

/* line 144, ../scss/style.scss */
nav li {
  display: inline-block;
}

/* line 148, ../scss/style.scss */
nav a {
  display: block;
  padding: 15px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.16);
}
/* line 153, ../scss/style.scss */
nav a:hover, nav a.menu_actif {
  color: #324a09;
}

/* line 158, ../scss/style.scss */
nav .menu_disable {
  color: #b9de7c;
  text-shadow: none;
  cursor: default;
}
/* line 161, ../scss/style.scss */
nav .menu_disable:hover {
  color: #b9de7c;
}

/***************/
/* Page Rally */
/*************/
/* line 169, ../scss/style.scss */
.page_rally li {
  border-bottom: 1px solid #e3e3e3;
  display: table;
  width: 100%;
}

/* line 175, ../scss/style.scss */
.page_rally li > span {
  display: table-cell;
  vertical-align: middle;
}

/* line 180, ../scss/style.scss */
.page_rally li > span:first-child {
  display: table-cell;
  background-color: #ccd1d4;
  font-size: 1.8em;
  color: #56636c;
  padding: 0.5em;
  width: 30px;
  text-align: center;
}

/* line 190, ../scss/style.scss */
.page_rally li > span + span {
  padding-left: 20px;
  color: #56636c;
}

/* line 195, ../scss/style.scss */
.page_rally li > span + span + span {
  width: 100px;
  text-align: center;
  padding: 0 5px 0 15px;
}

/* line 201, ../scss/style.scss */
.page_rally li span p + p {
  font-size: 0.7em;
}
